*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: #f6f8fa;
  color: #5b6f82;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.site-header {
  position: relative;
  padding: 24px 0;
}
.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 16%;
  width: 84%;
  height: 500px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ4MCIgaGVpZ2h0PSI2NTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICAgIDxwYXRoIGQ9Ik03MzEuMjA3IDY0OS44MDJDOTM1LjQ4NCA2NDIuMTQgMTQ4MCAzMzcuMzI1IDE0ODAgMTgwLjg4OGMwLTE1Ni40MzgtMzA5Ljc0NC0zNi4wNTUtNzIwLTM2LjA1NVMwLTE3NC40ODMgMCAxMzUuMTQ0YzAgMzA5LjYyNyA1MjYuOTMgNTIyLjMyIDczMS4yMDcgNTE0LjY1OHoiIGZpbGw9IiNGNkY4RkEiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
  background-size: 1140px 500px;
  background-repeat: no-repeat;
}

@media (min-width: 641px) {
  .site-header::before {
    top: -50%;
    left: 20%;
    width: 80%;
    height: 651px;
    background-size: 1480px 651px;
  }
}

.form-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 140px);
  box-shadow: 0 16px 48px #e3e7eb;
}
main {
  flex: 1 0 auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section.developers {
  flex: 1 0 auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em 0;
  margin-bottom: 1em;
  margin-top: 3em;
  border-top: 1px solid #dddddd;
}
h1 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.1px;
  clear: both;
  color: #202b36;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.5em;
}
h2 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.2px;
  text-align: center;
  font-weight: 400;
  clear: both;
  color: #202b36;
  margin-bottom: 0;
}
h3 {
  color: #5b6f82;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: -0.1px;
  margin-top: 0;
  font-weight: 400;
}
pre {
    color: #0366d6;
	background-color: #eaf5ff;
	border-radius: 3px;
	padding: 15px 17px;
}
p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

.disclaimer {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}
.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
}

.copy a {
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.4);
}

.status {
  padding: 10px 0;
  margin: 10px 0;
  min-height: 45px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.button:disabled {
  pointer-events: none;
  cursor: not-allowed;
  background: #bebebe;
}
.input-username {
  height: 30px;
  width: 300px;
  font-size: 18px;
  line-height: 18px;
  padding: 5px 10px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}
.input-username:not(:placeholder-shown):not(:focus):invalid {
  border-color: red;
}
.circle {
  display: inline-flex;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 7px;
}
.circle.green {
  background-color: green;
}
.circle.red {
  background-color: red;
}
.circle.gray {
  background-color: gray;
}
.spinner-wrapper {
  position: relative;
  margin: 0 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
}

.spinner {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 4px solid gray;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotate 750ms infinite;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.status-label {
  color: #b3b3b3;
  text-transform: uppercase;
  font-size: 12px;
}
.status-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}
.status-message.hidden {
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
